@*<div style="margin-left: 25%">
    <input type="button" value="Export Article" id="btnExportArticle" class="btn btn-primary" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnExportArticle').click(function () {
            document.location.href = '@Url.Action("ExecuteResult", "ExportArticle")';
        });
    });
</script>*@



