<div style="" id="ctl04_clinicBackendList">
    <span id="ctl04_clinicBackendList_ctl00_ctl00_clientLabelManager"></span>
    <h1 id="sfToMainContent" class="sfBreadCrumb"><span id="ctl04_clinicBackendList_ctl00_ctl00_ViewTitle">Export Questions</span></h1>

    <div class="sfMain sfClearfix" style="width: 100%;">
        <div class="sfContent" style="width: 100%;">
        </div>
    </div>
    <div class="sfWorkArea">
        <h2>No records to export! <a href="/Sitefinity/Content/questions" title="Back to Questions">Back to Questions</a></h2>
    </div>
</div>
