@model SitefinityWebApp.Mvc.Models.DoctorCVPageModel
@using Parkway.Core.Utilities

<section class="wrap-bg">
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                </ol>
            </div>
        </div>
    </section>
    <section class="container dr-info">
        <h1 class="title">@Html.Raw(Telerik.Sitefinity.Localization.Res.Get<SitefinityWebApp.Custom.Resources.CommonResources>().ParameterInvalidMessage)</h1>
    </section>
</section>