<div class="col-sm-4">
    <ul>
        <li><a href="#" rel="nofollow" title="A" class="text-big">A</a></li>
        <li><a href="#" rel="nofollow" title="A" class="text-mid active">A</a></li>
        <li><a href="#" rel="nofollow" title="A" class="text-sm">A</a></li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook">
                <img src="/Custom/Asserts/Images/facebook.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
            </a>
        </li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_twitter">
                <img src="/Custom/Asserts/Images/tweet.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
            </a>
        </li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_linkedin">
                <img src="/Custom/Asserts/Images/linkedin.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
            </a>
        </li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_compact">
                <img src="/Custom/Asserts/Images/more.png" height="25" width="25" style="border-radius: 4px" border="0" alt="Share" />
            </a>
        </li>
    </ul>
</div>