<div class="tools-bar is-mobile">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <ul>
                    <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_whatsapp"><span class="ico ico-whatsapp-sm"></span></a>
                    </li>
                    <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_facebook"><span class="ico ico-fb-sm"></span></a>
                    </li>
                    <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_email"><span class="ico ico-email-sm"></span></a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</div>