<div id="social_share">
    <ul>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook"><span class="ico ico-fb"></span></a>
        </li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_twitter"><span class="ico ico-tw"></span></a>
        </li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_linkedin"><span class="ico ico-linkin"></span></a>
        </li>
        <li class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_compact"><span class="ico ico-more"></span></a>
        </li>
    </ul>
</div>
