@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800');


html{
	font-size:14px;
}
#wrapper{
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center top;
}

.content-subpage {
	background-color:#FFF;
	padding-bottom: 5vw;
}
.content-subpage h2{
	font-size:3em;
	font-weight: 800;
	margin-top: 2em;
	margin-bottom:1em;
}
.content-subpage p{
	line-height:1.9em;
}

.subpage-header{
	padding-top:150px;
	height:350px;
	box-sizing:content-box;
	display:block;
	display:flex;
	align-items: center;
}

.subpage-header h1{
	font-size:5em;
	font-weight:bold;
	color:#FFF;
}

.subpage-header .breadcrumb {background-color:transparent; }
.subpage-header .breadcrumb li.active{ color:#82fafe;}
.subpage-header .breadcrumb a {color:#FFF;}
.content-subpage .sfNavHorizontal {
	background-color:#007BA3;
	height:60px;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content: center;
}
.content-subpage .sfNavHorizontal li {
	float:none;
}
.content-subpage .sfNavHorizontal li a{
	color:#FFF;
	display:inline-block;
	display:flex;
	align-items:center;
	height:60px;
	padding:10px 20px;
	text-decoration: none;
}
.content-subpage .sfNavHorizontal li a:hover, .content-subpage .sfNavHorizontal li a.sfSel{
	background-color:#000;
	background-image:linear-gradient(#2F393D,#1A2022);
	font-weight:normal;
}

img[data-role="bodyImage"] {
	display:none;
}

img.center {
	margin: 0 auto;
}





@media (min-width: 960px) {
	.w80 {
		width:80%;
	}
}







/* Sitefinity Editor  */
.sfPageEditor .content-subpage,.sfPageEditor .subpage-header {
	padding-top:0;
	display:block;
	height:auto;
	color:#000;
}

.sfPageEditor img[data-role="bodyImage"] {
	display:block;
}