@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800');


html{
	font-size:14px;
}
#wrapper{
	background-repeat:no-repeat;
	background-size:100% auto;
	background-position:center top;
}

.content-subpage {
	background-color:#FFF;
	padding-bottom: 5vw;
	font-size:1.3rem;
}


.content-subpage h2.sub{
	font-size:40px;
	font-weight: 800;
	margin-top: 2em;
	margin-bottom:1em;
}

.content-subpage h3.sub{
	font-size:32px;
}

.content-subpage h4.sub{
	font-size:28px;
}

.content-subpage h5.sub{
	font-size:24px;
}

.content-subpage p{
	line-height:1.9em;
}

.subpage-header{
	padding-top:150px;
	height:350px;
	box-sizing:content-box;
	display:block;
	display:flex;
	align-items: center;
}

.subpage-header h1{
	font-size:5em;
	font-weight:bold;
	color:#FFF;
}

.subpage-header .breadcrumb {background-color:transparent; }
.subpage-header .breadcrumb li.active{ color:#82fafe;}
.subpage-header .breadcrumb a {color:#FFF;}
.content-subpage .sfNavHorizontal {
	background-color:#007BA3;
	height:60px;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content: center;
}
.content-subpage .sfNavHorizontal li {
	float:none;
}
.content-subpage .sfNavHorizontal li a{
	color:#FFF;
	display:inline-block;
	display:flex;
	align-items:center;
	height:60px;
	padding:10px 20px;
	text-decoration: none;
}
.content-subpage .sfNavHorizontal li a:hover, .content-subpage .sfNavHorizontal li a.sfSel{
	background-color:#000;
	background-image:linear-gradient(#2F393D,#1A2022);
	font-weight:normal;
}

.content-subpage .subnav-two .sfNavHorizontal {
	background-color:#EDEDED;
}
.content-subpage .subnav-two .sfNavHorizontal li a{ 
	color:#007BA3;
}
.content-subpage .subnav-two .sfNavHorizontal li a:hover, .content-subpage .subnav-two .sfNavHorizontal li a.sfSel,.content-subpage .subnav-two .sfNavHorizontal li a.sfSel:hover{
	background-color:transparent;
	background-image:none;
	font-weight:bold;
}
.content-subpage .subnav-two .sfNavHorizontal li a:hover {
	font-weight:normal;
	text-decoration:underline
}

img[data-role="bodyImage"] {
	display:none;
}

@media (min-width: 960px) {
	.w80 {
		width:80%;
	}
}



.ppt-accordion {}
.ppt-accordion .panel-heading {padding:0;border-radius:0;border:0;}
.ppt-accordion .panel-heading .panel-title a{display:block;height:45px;line-height:45px;padding:0 15px;font-weight:bold;background-color:#007ba3;color:#FFF;}
.ppt-accordion .panel-heading .panel-title a:hover,.ppt-accordion .panel-heading .panel-title a:focus,.ppt-accordion .panel-heading .panel-title a:active {text-decoration:none;}
.ppt-accordion .panel-heading .panel-title a.collapsed {background-color:#EDEDED;color:#333;}
.ppt-accordion .panel {margin-bottom:15px;border:0;box-shadow:none;}
.ppt-accordion .panel-body {padding:30px 40px;}

/* Utilities */
.mt0 {margin-top:0 !important;}
img.center {margin: 0 auto;}



/* Sitefinity Editor  */
.sfPageEditor .content-subpage,.sfPageEditor .subpage-header {
	padding-top:0;
	display:block;
	height:auto;
	color:#000;
}

.sfPageEditor img[data-role="bodyImage"] {
	display:block;
}